%footer.footer
  .pledgie
    %a{:href=>'http://www.pledgie.com/campaigns/12211'}
      %img(alt='Click here to lend your support to Orange and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/12211.png?skin_name=chrome' border='0')
  .credits
    %p
      %a.logo{:href => "http://www.orangesparkleball.com", :title => "Site provided by Orange Sparkle Ball, Inc."} Orange Sparkle Ball, Inc.